#header{
    font-size: 100px;
    color: white;
    margin-left: 5em;
    margin-top: -1em;
    /* margin-bottom: 5em; */
}
#healthpic{
    width: 100%;
    height: 40em;
    margin-left: auto;
    margin-right: auto;
}

#home, #settings, #logout{
    background-color: none;
    outline: none;
    border-color: none;
    border: none;
    font-size: 20px;
    padding: 0.8em;
    margin-left: 0.5em;
}

#menu{
    margin-top: -38em;
    margin-bottom: 2em;
    margin-left: 80em;
}
#options{
    margin-top: 35em;
    padding-bottom: 2em;
}
#view, #chat{
    background-color: none;
    font-size: 20px;
    padding: 0.8em;
    margin-left: 0.5em;
}